.friends__list {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item:hover,
.item:focus {
  transform: scale(1.05);
}

.online {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  composes: online;
  background-color: red;
}

.avatar {
  padding: 10px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
